<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h2 class="display-4"> <%= t('articles.article_edit') %> </h2>
</div>

<div class="container">
<%= form_for @article, method: :put do |f| %>
	<% if @article && @article.errors.any? %>
	<p>	
		<ul>
		<% @article.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>	
		</ul>
	</p>
	<% end %>

	<p>
		<%= f.label :tilte %><br/>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text %><br/>
		<%= f.text_area :text %>
	</p>

	<p>
		<%= f.submit %><hr/>
	</p>

<%end%>
</div>
