<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1><%= t('articles.article_list') %></h1>
</div>
<div class="container">
  <p>
  	<ol>
  		<% @articles.each do |article| %>
  			<li>
  				<h2><%= article.title %></h2><br/>
  				<p><%= article.text %></p>
  				<p><%= link_to 'Show', article %> |
  					<%= link_to 'Edit', edit_article_url(article) %> |
  					<%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are You sure?' } %>	
  				</p><hr/>
  			</li> 
  		<%end%>	
  	</ol>
  </p>
</div>
