
<p>
	<ol>
		<% @articles.each do |show_article| %>
			<li>
				<h2><%= show_article.title %></h2><br/>
				<p><%= show_article.text %></p>
				<p><%= link_to 'Show', show_article %></p><hr/>
			</li> 
		<%end%>	
	</ol>
</p>