<h1><%= t('articles.new_article') %></h1>

<%= form_with model: Article.new, local: true do |f| %>
	<% if @article && @article.errors.any? %>
	<p>	
		<ul>
		<% @article.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</p>
	<% end %>
	<p>		
		<%= f.label :tilte %><br/>
		<%= f.text_field :title%>
	</p>
	<p>	
		<%= f.label :text %><br/>
		<%= f.text_area :text%>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
