<h1>Home#contacts</h1>
<p>Find me in app/views/home/contacts.html.erb</p>

<form action="/home/index" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="MGYX4oFyqOtN8p2PweGB2ufhZN4xzumFpbWs9TYyxbzoWp+TbMJD7KSZePObfHzcIcJS+c7mJROk975YqF+RDA==" />
	<p>
		<label>Mail</label>
		<input type="text" name="contacts[email]" value="" />
	</p>

	<p>
		<label>Message</label>
		<textarea name="contacts[message]" value=""></textarea>
	</p>

	<p>
		<input type="submit" name="commit" value="Send message"/>
	</p>
</form>